/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
  
/* Active/current link */
.sidebar a.active {
    background-color: #325D41 !important; 
    color: white;
    border-radius: 0;
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #677865;
    color: white;
    border-radius: 0;
}
  
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    /* padding: 1px 16px; */
    height: 100%;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
/* On screens that are less than 900px wide, make the sidebar into a topbar */
@media screen and (max-width: 900px) {
    .sidebar {
      width: 100%;
      height: auto;
      /* position: relative; */
      position: fixed;
      top: 0;
      z-index: 9;
    }
    .sidebar ul li a {float: left;}
    .sidebar ul {
        flex-direction: row !important;
    }
    div.content {margin-left: 0;}
    .avatar {
        display: none;
    }
}
  
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar {
        display: none;
    }
    .avatar {
        display: none;
    }
}
  